.avtar{
    margin-top: 100px;
    width: auto;
    box-shadow:  10px 5px 5px solid black ;
    /* background: rgb(199, 173, 226); */
}

.desc{
  margin-top: 50px;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  transform: translateY(-50%);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.text:hover {
  transform: rotateX(35deg), translateY(-50%);
}
.text:hover span {
  color: rgb(0, 0, 0);
}
.text:hover span:nth-child(odd) {
  transform: skewY(15deg);
}
.text:hover span:nth-child(even) {
  transform: skewY(-15deg);
  background-color: #595959;
  color: #a6a6a6;
}
.text > span {
  display: block;
  background-color:rgb(217 217 217);
  width: 120px;
  height: 120px;
  line-height: 120px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
}
.text > span:first-child {
  border-radius: 5px 0 0 5px;
}

footer{
 margin-top: 90px;
}