@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
.navbar {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }

  .menu-items li :hover{
    font-weight: 100;
    font-family: 'Rubik Glitch', cursive;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    font-family: 'Nunito', sans-serif;
  }
  
  .navbar .nav-container a:hover{
    font-family: 'Rubik Glitch', cursive;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .links{
    position: relative;
  }
  .links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ebebeb;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .links:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .navbar{
    border: solid;
  }
  .menu-items{
    border: solid;
    
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 90vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: rgba(199, 199, 199, 0.86);
    z-index : 1;
  }

  .menu-items{
    z-index: 1;
  }

  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  .logo h1{
    font-family: 'Nunito', sans-serif;
  }

  .abt_btn{
   all: unset;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items  {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .main  {
    background-color: red;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .main{
    filter: blur(2px);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }

  .nav-container input[type="checkbox"]:checked ~ .text{
    display: none;
  }


@media screen and (max-width:767px) {
  .navbar  .menu-items{
    width: 50vh;
  }
}